/* Desktop — sidebar 250px */
@media (min-width: 768px) {
  .admin-main {
    margin-left: 250px;
  }
}

/* Mobile — no margin */
@media (max-width: 767px) {
  .admin-main {
    margin-left: 0;
  }
}


.hod-main {
  margin-left: 250px;
}

@media (max-width: 768px) {
  .hod-main {
    margin-left: 0;
  }
}


.staff-main {
  margin-left: 250px;
}

@media (max-width: 768px) {
  .staff-main {
    margin-left: 0;
  }
}